@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/animation';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
$josefin:'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,400i,700');
$roboto: 'Roboto', sans-serif;

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font-family: $roboto;
  font-size: 1.2rem;
  color: $arsenic;
}
html {
  box-sizing: border-box;
  &.pinned {
    overflow: hidden;
  }
}
strong {
  font-weight: 400;
}
h1, h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.3;
  text-transform: uppercase;
}
p {
  font-weight: 200;
  line-height: 1.8;
  font-size: 1.2rem;
}
a {
  text-decoration: none;
}
////////// NAVIGATION //////////
nav a {
  position: relative;
  padding-bottom: 3px;
  overflow: hidden;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  letter-spacing: .15rem;
  line-height: 1.8;
}
nav a:hover {
  color: $rudy-pink;
}
nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: $rudy-pink;
  content: "";
  transform: scale(0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

nav a:hover:after {
  transform: scale(1);
}
nav {
  @media only screen and (max-width: 766px) {
    width: 100%;
  }
  a {
    // color: #000;
    font-size: 2.5rem;
    text-transform: uppercase;
    @media only screen and (min-width: 766px) {
      font-size: 1rem;
    }
  }
}
ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-list li a {
  display: inline-block;
  text-align: center;
}
.nav-list-item {
  line-height: 1.5;
  @media only screen and (min-width: 766px) {
    display: inline-block;
    margin-left: 35px;
  }
}
////////// BANNER  ///////////
.banner {
  height: 100%;
  width: 100%;
  max-height: 3em;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: all 0.3s;
  background: none;
  z-index: 999;

  &.is-open {
    max-height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: rgba(222, 222, 224, 0.94);
    opacity: 1;
  }
}

.grid {
  max-width: 1040px;
  margin: 0 auto;
  padding: 1.5% 5%;
  float: right;

  .banner & {
    color: $white;
    padding: 0;
    max-width: 1040px;
    margin: 0 auto;
    padding: 1.5% 5%;
    display: flex;
    align-items: center;
  }
}
.hero {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  min-height: 100vh;
  letter-spacing: 2px;
  background: url('/images/banner.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.85;
}
.hero-title {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  font-size: 5rem;
  line-height: 1.4;
  letter-spacing: 0.6rem;
  text-transform: none;
  font-weight: 400;
  color: $white;
}
.is-sticky {
  position: fixed;
  top: 0;
  background: rgba(222, 222, 224, 0.93);
  opacity: 1;
}
///////////////////////////////////////
/////////////  HOME     //////////////
/////////////////////////////////////
#home, #work, #about {
  margin-bottom: 10px;
  padding: 3em 3em 2em 3em;
}
#home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.artwork {
  display: flex;
  justify-content: center;
  align-items: center;
}
#eggy {
  height: 150px;
  width: 150px;
}
/////////////////////////////////////
////////////   WORK   //////////////
///////////////////////////////////
#work {
  justify-content: center;
  align-content: center;
}
.computer-gallery {
  display: flex;
  justify-content: center;
  align-content: center;
}
///////////////////////////////////
/////////   NAV-ICONS    /////////
////////  FOR THE WORK  /////////
////////////////////////////////
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-icons {
  width: 125px;
  display: block;
  margin: 0 3% 0 2%;
  line-height: 1.2;
  text-align: center;
  font-size: 1.2rem;

  &:hover {
    cursor: pointer;
  }
}
.selected:after {
  position: absolute;
  display: block;
  width: 0;
  bottom: -15px;
  left: calc(50% - 15px);
  content: "";
}
.nav-link:hover {
  color: $amazonite;
}
.hacc-icon {
  margin-bottom: 12%;
}
.hacc-icon svg {
  width: 80px;
  fill: #898989;
  &:hover path {
    fill: $light-blue;
    transition: all 700ms;
  }
}
.stylesforhue-icon svg {
  fill: #898989;
  &:hover text {
    fill: $light-blue;
    transition: all 700ms;
  }
}
.nko-icon {
  margin-bottom: -25px;
}
.nko-icon svg {
  fill: #898989;
  &:hover text {
    fill: $light-blue;
    transition: all 700ms;
  }
  &:hover rect {
    fill: $light-blue;
    transition: all 700ms;
  }
}
.work-info {
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 2 ;
  text-align: center;
  margin-bottom: 2%;
}
///////  ART FOR THE COMPUTER   ////////
.computerArt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 40px 0 0;
}
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}
.screen {
  width: 540px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  border-radius: 10px;
  background: $davys-grey;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin trapezoid($width, $color) {
  width: $width;
  height: 0;
  border-right: $width / 4.5 solid transparent;
  border-bottom: $width solid $color;
  border-left: $width / 4.5 solid transparent;
  box-sizing: content-box;
}
.stand {
  @include trapezoid(65px, $platinum);
}
.foot {
  height: 5px;
  width: 130px;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  background: $platinum;
}
/////////   SLIDER   //////////
#slider {
  position: relative;
  width: 500px;
  border: solid 2px $platinum;
}
.arrow {
  border: solid 2px $white;
}
.active {
  transition: all 0.2s;
}
#slider ul {
  margin: 0;
  padding: 0;
  position: relative;
  height: 280px;
  list-style: none;
}
#slider ul li {
  width: 500px;
  height: 300px;
  text-align: center;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}
.slide {
  position: absolute;
  display: none;
}
.slide:first-child {
  display: block;
}
.slider-wrapper {
  z-index: 500;
  position: relative;
  overflow: hidden;
}
.slider-wrapper li {
  display: none;
}
.slider-wrapper .current {
  display: block;
}
.slider-wrapper li:hover .caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.slider-wrapper .one {
  display: block;
}
.slider-wrapper img {
  position: absolute;
  max-width: 100%;
  top: 0;
  left: 0;
}
////////// CAPTION FOR THE SLIDER  /////////
.slider-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
  width: 100%;
  height: 40px;
  padding: 10px;
  color: $white;
  display: table;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
///////// FOR THE ARROWS OF THE SLIDER  /////////
a.prev, a.next {
  position: absolute;
  top: 45%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  opacity: 0.8;
  color: $davys-grey;
}
a.prev:hover, a.next:hover {
  opacity: 1;
  transition: all 0.2s ease;
  color: $light-blue;
  transition: all 700ms;
}
a.next {
  right: 20px;
}
a{
  &:visited{
    text-decoration: none;
    color: $davys-grey;
  }
}
.information {
  border: solid 2px;
  width: 400px;
  padding: 10px;
}
.active {
  transition: all 0.2s;
}
////////   DESCRIPTION FOR THE WORK   //////
#descriptions {
  width: 300px;
  margin: 10px 0 0 40px;
  padding: 10px;
  background-color: $white;
  position: relative;
  line-height: 1.2;
  @include small {
    display: block;
  }
}
#descriptions .now {
  display: block;
  background-color: $white;
}
.description {
  position: absolute;
  background-color: $white;
  display: none;
  overflow: hidden;
}
.description div {
  position: absolute;
  max-width: 100%;
}
///////////////////////////////////////////
///////// ABOUT FOR THE INDEX PAGE ///////
/////////////////////////////////////////
#about {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.content {
  width: 40vw;
  line-height: 2rem;
  text-align: center;
}
//////////   LOGOS    //////////
.logos {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}
#github-logo {
  height: 80px;
  width: 80px;
  fill: $arsenic;
  &:hover {
    fill: $light-blue;
    transition: all 700ms;
  }
}
#linkedin-logo {
  width: 80px;
  height: 80px;
  fill: $arsenic;
  &:hover {
    fill: $light-blue;
    transition: all 700ms;
  }
}
////////////////////////////////
///////  NAVIGATION    ////////
//////  FOR ALL PAGES ////////
/////////////////////////////
#nav-wrap {
  overflow: hidden;
  display: block;
  width: 100%;
  height: 150px;
}
#wrap nav {
  display: block;
  overflow: hidden;
  margin: 0 auto;
  ul {
    display: inline-block;
    list-style-type: none;
  }
  li {
    display: inline-block;
    margin: 10px;
    padding: 5px;
  }
}
#banner-photo {
  top: 0;
  overflow: hidden;
  transition: all 0.3s;
  z-index: 999;
  height: 400px;
  transition: 0.2s ease all;
  &.is-open {
    max-height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: rgba(216, 216, 216, 0.94);
    opacity: 1;
  }
}
#banner-photo header nav {
  position: absolute;
  bottom: 0;
  width: 100%;
}
/////////////////////////////////
/////////   CENTERING   ////////
////////   NAVIGATION  ////////
//////////////////////////////
.hacc-wrap #nav-center {
  background: #6adba2;
}
#nav-center {
  text-align: center;
  display: inline-block;
  list-style-type: none;
  position: relative;
  top: 0;
  &.sticky-header {
    background: rgba(222, 222, 224, 0.94);
    width: 100%;
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 2;
    transition: 0.2s ease all;
  }
  &.sticky-header a {
    color: #4C5454;
  }
  &.sticky-header .center-active {
    color: $rudy-pink;
  }
  &.sticky-header a:hover {
    color: $rudy-pink;
  }
}
.nav-center-item a{
  color: $white;
}
#nav-center nav a {
  position: fixed;
  display: inline-block;
  transition: 0.2s ease all;
}
#nav-center li {
  display: inline-block;
}
#nav-center a {
  display: inline-block;
}
.center-active {
  border-bottom: 3px solid $rudy-pink;
}
.center-active nav a:hover {
  color: $rudy-pink;
}
/////////////////////////////
////// HACC 2016 PAGE //////
///////////////////////////
.page-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5% 5%;
}
#wrap {
  position: relative;
}
.site-text {
  font-size: 6rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  position: relative;
  margin: 0;
  top: 50%;
}
.hacc-photo {
  // background: url('/images/hacc/diamondhead.jpg') no-repeat center 50%;
  // background-size: cover;
  background: linear-gradient(180deg, #52b9b3, #6adba2);
  position: relative;
  height: 400px;
}
#intro {
  margin-top: 15%;
}
.hacc-intro {
  line-height: 1.5rem;
  display: flex;

  @include medium {
    display: inline-block;
  }

  @include small {
    display: inline-block;
  }
}
.group-photo img {
  width: 450px;
  box-shadow: 0px 0px 5px #444444;

  @include medium {
    display: inline-block;
    width: 100%;
  }

  @include small {
    display: inline-block;
    width: 100%;
  }
}
.intro-topic {
  display: block;
  margin-left: 50px;

  @include medium {
    margin: 2em 0;
    padding: 0;
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  @include small {
    margin: 2em 0;
    padding: 0;
    width: 100%;
  }
}
.group-intro {
  margin: 10% 0 15% 0;
  display: flex;

  @include medium {
    display: inline-block;
    margin: 2em 0;
  }

  @include small {
    display: inline-block;
    margin: 2em 0;
  }
}
.group-topic {
  display: block;
  width: 50%;
  margin-right: 50px;

  @include medium {
    display: inline-block;
    margin: 0;
    width: 100%;

    h1 {
      text-align: center;
    }
  }

  @include small {
    display: inline-block;
    margin: 0;
    width: 100%;
  }
}
.site-video {
  @include medium {
    display: inline-block;
    margin: 2em 0;
    width: 100%;
    height: 100%;
  }

  @include small {
    display: inline-block;
    margin: 2em 0;
    width: 100%;
  }
}
iframe {
  box-shadow: 0px 0px 5px #444444;
  margin-left: 40px;
  @include medium {
    display: block;
    margin: 0;
    width: 100%;
  }

  @include small {
    display: block;
    margin: 0;
    width: 100%;
  }
}
////////   PHOTO GALLERY   /////////
#layout-images {
  h1 {
    text-transform: uppercase;
  }
}
.layout {
  text-align: center;
  margin-bottom: 5%;
}
#lightbox {
  margin: 0;
  padding: 0;
  display: flex;
  @include medium {
    flex: 0 1 auto;
  }
  & ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
  }
  & li {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 50%;
    background: $white;
    cursor: pointer;

    @include medium {
      display: inline-block;
      width: 100%;
      padding: 0 2.2em;
    }

    @include small {
      display: inline-block;
      width: 100%;
      padding: 0 1.5em;
    }
  }

  & img {
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 5px #6b6b6b;

    @include medium {
      display: inline-block;
      width: 100%;
    }

    @include small {
      display: inline-block;
      width: 100%;
    }
  }
}
#lightbox h1 {
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background: rgba(255, 255, 255, 0.1);
  border-left: 2px solid rgba(255, 255, 255, 0.65);
  border-right: 2px solid rgba(255, 255, 255, 0.65);
}
#lightbox .image-title {
  width: 250px;
  height: 175px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  opacity: 0;
  transition: all 0.5s;
}
#lightbox .title {
  color: $white;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  transform: scale(0.2);
  transition: all 0.25s;
}
.lb_backdrop {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.lb_canvas {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 0 20px 5px #000000;
  padding: 10px;
}
.lb_controls {
  width: 400px;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  bottom: 10px;
  color: $white;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.lb_controls span {
  line-height: 30px;
  height: 30px;
}
.lb_controls span.interactive {
  opacity: 0.25;
}
.lb_previous, .lb_next {
  position: absolute;
  top: 0;
  padding: 5px 12px;
  background: #000000;
  cursor: pointer;
}
.lb_previous {
  left: 0;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.lb_next {
  right: 0;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.lb_title {
  text-align: center;
  display: block;
  text-transform: uppercase;
  padding: 5px 0;
}