@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/mixins';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
$josefin:'Josefin Sans', sans-serif;

body{
  background: $amazonite;
  font-family: $josefin;
  font-size: 1.2rem;
  color: $arsenic;
}
h2{
  font-weight: 600;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border: solid 2px;
  font-weight: 700;
  text-transform: uppercase;
}
ul.nav li {
  float: left;

  @include small {
    float: none;
  }
}
ul.nav li a {
  display: block;
  justify-content: flex-end;
  align-content: flex-end;
  text-align: center;
  padding: 13px 15px;
  text-decoration: none;
}
ul.nav li a {
  position: relative;
  &:before, &:after {
    position: absolute;
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    top: 80%;
    margin-top: -0.5px;
  }
  &:before {
    left: -2.5px;
  }
  &:after {
    right: 2.5px;
    background: $sunset-orange;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1)
  }
  &:hover:before {
    background: $sunset-orange;
    width: 90%;
    transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1)
  }
  &:hover:after {
    background: transparent;
    width: 90%;
    transition: 0s;
  }
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: solid 2px;
}
#home, #work, #about {
  margin-bottom: 10px;
  padding: 10px;
  border: solid 2px;
}
#home {
  height: 10vh;
}
#work {
  height: 100%;
}
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.screen {
  width: 540px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: $davys-grey;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border: solid 2px $platinum;
}
#slider ul {
  margin: 0;
  padding: 0;
  position: relative;
  height: 300px;
  list-style: none;
}
#slider ul li {
  display: block;
  width: 500px;
  height: 300px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
a.left, a.right {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  opacity: 0.8;
  color: $davys-grey;
}
a.left:hover, a.right:hover {
  opacity: 1;
  transition: all 0.2s ease;
  color: $amazonite;
}
a.right {
  right: 0;
}
a{
  &:visited{
    text-decoration: none;
    color: $davys-grey;
  }
}
.one {
  background-image: url('/images/localmocos.png');
  background-size: cover;
  width: 100%;
  z-index: 5;
}
.two {
  background-image: url('/images/stylesforhue.png');
  background-size: cover;
}
.three {
  background-image: url('/images/nko2016.png');
  background-size: cover;
}
.stand {
  height: 50px;
  width: 72px;
  display: block;
  margin: 0 auto;
  background: $platinum;
}
.stand:before, .stand:after {
  content: "";
  position: absolute;
}
.stand:before {
  border-left: 13px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 52px solid $platinum;
  left: 47%;
}
.stand:after {
  border-right: 13px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 52px solid $platinum;
  right: 47%;
}
.foot {
  height: 5px;
  width: 130px;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  background: $platinum;
}
#about {
  height: 10vh;
}
#github-logo {
  fill: $arsenic;
  display: inline-block;
  height: 100px;
  width: 100px;
}
#linkedin-logo {
  width: 100px;
  height: 100px;
  fill: $arsenic;
}