@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/colors';
@import 'partials/mixins';
@import 'partials/animation';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700');
$josefin:'Josefin Sans', sans-serif;

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  font-family: $josefin;
  font-size: 1.2rem;
  color: $arsenic;
}
html {
  box-sizing: border-box;
  &.pinned {
    overflow: hidden;
  }
}
h2{
  font-weight: 600;
}
a {
  text-decoration: none;
}
nav a {
  position: relative;
  padding-bottom: 3px;
  overflow: hidden;
  transition: color .3s cubic-bezier(0.11, 0.7, 0, 1);
  letter-spacing: .15rem;
  line-height: 1.8;
}
nav a:hover {
  color: $sunset-orange;
}
nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: $sunset-orange;
  content: "";
  transform: scale(0);
  transition: transform .3s cubic-bezier(0.11, 0.7, 0, 1);
}

nav a:hover:after {
  transform: scale(1);
}
nav {
  @media only screen and (max-width: 766px) {
    width: 100%;
  }
  a {
    color: #000;
    font-size: 2.5rem;
    text-transform: uppercase;
    @media only screen and (min-width: 766px) {
      font-size: 1rem;
    }
  }
}
ul.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.nav-list li a {
  display: inline-block;
  text-align: center;
}
.nav-list-item {
  line-height: 1.5;
  @media only screen and (min-width: 766px) {
    display: inline-block;
    margin-left: 35px;
  }
}
.banner {
  height: 100%;
  width: 100%;
  max-height: 3em;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: all 0.3s;
  background: none;
  z-index: 999;

  &.is-open {
    max-height: 100%;
    position: fixed;
    top: 0;
    overflow: scroll;
    background: rgba(216, 216, 216, 0.94);
    opacity: 1;
  }
}

.grid {
  max-width: 1040px;
  margin: 0 auto;
  padding: 1.5% 5%;
  float: right;

  .banner & {
    color: #FFF;
    padding: 0;
    max-width: 1040px;
    margin: 0 auto;
    padding: 1.5% 5%;
    display: flex;
    align-items: center;
  }
}
.hero {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  min-height: 100vh;
  letter-spacing: 2px;
  background: url('https://static.pexels.com/photos/93001/pexels-photo-93001.jpeg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.7;
}
.hero-title {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 100%;
  font-size: 3rem;
  line-height: 1.4;
}
.is-sticky {
  position: fixed;
  top: 0;
  background: rgba(216, 216, 216, 0.93);
  opacity: 1;
}

#home, #work, #about {
  margin-bottom: 10px;
  padding: 3em 3em 2em 3em;
}
#home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.artwork {
  display: flex;
  justify-content: center;
  align-items: center;
}
#eggy {
  height: 150px;
  width: 150px;
}
#work {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons {
  width: 110px;
  display: block;
  margin: 1em;
  line-height: 2;

  &:hover {
    cursor: pointer;
  }

  p {
    display: flex;
    justify-content: center;
  }
}
.hacc-icon {
  background: url('/images/hacc_2016.png') no-repeat center;
  background-size: contain;
  height: 60px;
}
.stylesforhue-icon {
  background: url('/images/stylesforhue_ico.png') no-repeat center;
  background-size: cover;
  height: 60px;
}
.work-info {
  display: block;
  justify-content: center;
  align-items: center;
  line-height: 2 ;

  h2 {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.computerArt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.computer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 10px;
}
.screen {
  width: 540px;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: $davys-grey;
}
#slider {
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 280px;
  // margin: 20px auto 0 auto;
  border: solid 2px $platinum;
}
.arrow {
  border: solid 2px #FFF;
}
#slider ul {
  margin: 0;
  padding: 0;
  // position: relative;
  height: 300px;
  list-style: none;
}
#slider ul li {
  display: block;
  width: 500px;
  height: 300px;
  text-align: center;
  &:hover {
    cursor: pointer;
  }
}
.slider-wrapper li {
  display: none;
}
.slider-wrapper li:hover .caption {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.slider-wrapper .one {
  display: block;
}
.slider-wrapper img {
  // position: absolute;
  max-width: 100%;
  height: auto;
  top: 0;
  left: 0;
}
.slider-wrapper .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.65);
  width: 100%;
  padding: 10px;
  color: #FFF;
  display: table;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
}
a.left, a.right {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  text-decoration: none;
  opacity: 0.8;
  color: $davys-grey;
}
a.left:hover, a.right:hover {
  opacity: 1;
  transition: all 0.2s ease;
  color: $amazonite;
  transition: all 700ms;
}
a.right {
  right: 0;
}
a{
  &:visited{
    text-decoration: none;
    color: $davys-grey;
  }
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin trapezoid($width, $color) {
  width: $width;
  height: 0;
  border-right: $width / 4.5 solid transparent;
  border-bottom: $width solid $color;
  border-left: $width / 4.5 solid transparent;
  box-sizing: content-box;
}
.stand {
  @include trapezoid(65px, $platinum);
}
.foot {
  height: 5px;
  width: 130px;
  display: block;
  margin: 0 auto;
  border-radius: 10px 10px 0 0;
  background: $platinum;
}
.information {
  border: solid 2px;
  width: 400px;
  padding: 10px;
  p {
    line-height: 1.7rem;
  }
}
#about {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#github-logo {
  height: 80px;
  width: 80px;
  fill: $arsenic;
  &:hover {
    fill: $sunset-orange;
    transition: all 700ms;
  }
}
.content {
  width: 25vw;
  line-height: 2rem;
  text-align: center;
}
#linkedin-logo {
  width: 80px;
  height: 80px;
  fill: $arsenic;
  &:hover {
    fill: $sunset-orange;
    transition: all 700ms;
  }
}
.logos {
  list-style-type: none;
  text-align: center;
  li {
    display: inline-block;
  }
}