nav#nav-center(role="navigation")
  ul(class="nav-bar")
    li.nav-center-item
      a(href="/") Home
    li.nav-center-item
      a(href="/hacc") HACC
    li.nav-center-item
      a(href="/stylesforhue") Styles
    li.nav-center-item
      a(href="/nko") NKO