header.banner-photo
  .grid
    nav(role="navigation")
      ul(class="nav-list")
        li.nav-list-item
          a(href="/") Home
        li.nav-list-item
          a(href="/stylesforhue") Styles
        li.nav-list-item
          a(href="/nko") NKO