script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
script(src="/js/banner.js")
script(src="/js/navslider.js")
script(src="/js/navscroll.js")
script(src="/js/lightbox.js")