doctype html
include includes/head.pug
body
  #wrap.hacc-wrap
    header#banner-photo.hacc-photo
      h1.site-text HACC 2016
    include includes/centernav.pug
  .page-wrap
    main#intro.hacc-intro
      .group-photo
        img(src="/images/hacc/hacc_2016.jpg")
      .intro-topic
        h1 Hawaii Annual Code Challenge
        p Governor David Ige, the Office of Enterprise Technology Services (ETS), and the State of Hawaii Transformation Internship Programs (TIP) hosted the Hawaii Annual Code Challenge (HACC). The Hawaii Annual Code Challenge was a month long event to solve problems that the state is currently facing. Departments will talk about current problems that they are facing and a group of individuals will have to creatively solve their problems.
    section.group-intro
      .group-topic
        h1 Our Team
        p We decided to help out with one of the Department of Agriculture's problem on creating a user friendly page that makes it easier for users to search for local products. Our solution was to create a user friendly site had a search bar where users can search for product types, business, or products. We created two forms one for business owners to submit and one for their products. Both forms were created to make it easy for users to apply to post their local business and products. 
      .site-video
      iframe(width="560" height="315" src="https://www.youtube.com/embed/LWy0XZ_QjNA" frameborder="0" allowfullscreen)
  section#layout-images
    .layout
      h1 Layout Design
      p The layout designs for this project were created in Adobe Photoshop.
    #lightbox
      ul.ul-list
        li.il-list
          img(src="/images/hacc/sketches/index_page.jpg" data-large="/images/hacc/sketches/index_page.jpg")
          .image-title
            h5.title Index Page
        li.il-list
          img(src="/images/hacc/sketches/search_page.jpg" data-large="/images/hacc/sketches/search_page.jpg")
          .image-title
            h5.title Search Page
        li.il-list
          img(src="/images/hacc/sketches/product_page.jpg" data-large="/images/hacc/sketches/product_page.jpg")
          .image-title
            h5.title Product Page
        li.il-list
          img(src="/images/hacc/sketches/business_page.jpg" data-large="/images/hacc/sketches/business_page.jpg")
          .image-title
            h5.title Business Page
        li.il-list
          img(src="/images/hacc/sketches/about.jpg" data-large="/images/hacc/sketches/about.jpg")
          .image-title
            h5.title About Page
        li.il-list
          img(src="/images/hacc/sketches/adminlogin.jpg" data-large="/images/hacc/sketches/adminlogin.jpg")
          .image-title
            h5.title Admin Login
  include includes/sourcefiles.pug