doctype html
include includes/head.pug
body
  #wrap.hacc-wrap
    header#banner-photo.hacc-banner
      h1.site-text HACC 2016
    include includes/centernav.pug
  .page-wrap
    main#intro.hacc-intro
      .group-photo
        img(src="/images/hacc/hacc_2016.jpg")
      .intro-topic
        h1 Hawaii Annual Code Challenge
        p Governor David Ige, the Office of Enterprise Technology Services (ETS), and the State of Hawaii Transformation Internship Programs (TIP) hosted the Hawaii Annual Code Challenge (HACC). The Hawaii Annual Code Challenge was a month-long event to solve problems that the state currently faces. Departments discussed their current problems, and the groups had to creatively find solutions.
    section.group-intro
      .group-topic
        h1 Our Team
        p The team decided to help with one of the Department of Agriculture's problem — make searching for local products easier. Our solution was to create a user friendly site with a search bar where users can search by specific products, product types, or businesses. We created two-forms one for business owners to submit their info and another for their products. Both forms made it easy for users to apply and to post their local business info and products. 
      .site-video
        iframe(width="560" height="315" src="https://www.youtube.com/embed/LWy0XZ_QjNA" frameborder="0" allowfullscreen)
    section#layout-images
      .layout
        h1 Layout Design
        p The layout designs for this project were created in Adobe Photoshop.
      #lightbox
        ul.ul-list
          li.il-list
            img(src="/images/hacc/sketches/index_page.jpg" data-large="/images/hacc/sketches/index_page.jpg")
            .image-title
              h5.title Index Page
          li.il-list
            img(src="/images/hacc/sketches/search_page.jpg" data-large="/images/hacc/sketches/search_page.jpg")
            .image-title
              h5.title Search Page
          li.il-list
            img(src="/images/hacc/sketches/product_page.jpg" data-large="/images/hacc/sketches/product_page.jpg")
            .image-title
              h5.title Product Page
          li.il-list
            img(src="/images/hacc/sketches/business_page.jpg" data-large="/images/hacc/sketches/business_page.jpg")
            .image-title
              h5.title Business Page
          li.il-list
            img(src="/images/hacc/sketches/about.jpg" data-large="/images/hacc/sketches/about.jpg")
            .image-title
              h5.title About Page
          li.il-list
            img(src="/images/hacc/sketches/adminlogin.jpg" data-large="/images/hacc/sketches/adminlogin.jpg")
            .image-title
              h5.title Admin Login
  include includes/sourcefiles.pug