doctype html
include includes/head.pug
body
  #wrap
    header.banner-photo.hacc-photo
      h1 HACC 2016
    include includes/navigation.pug
  main.hacc-wrapper
    h1 Hawaii Annual Code Challenge
    p Sweet chupa chups pudding candy. Croissant lollipop dragée wafer. Chocolate cheesecake brownie. Gingerbread bonbon caramels sugar plum macaroon cake dragée tootsie roll. Bear claw gummi bears gummies carrot cake cake donut. Jelly beans pie sweet wafer bonbon cotton candy. Danish dessert lemon drops pastry sesame snaps powder tiramisu chupa chups. Croissant pastry candy marshmallow. Cheesecake cookie carrot cake dessert. Jelly beans brownie cake. Candy canes liquorice bonbon bear claw powder toffee biscuit donut cake. Powder bonbon soufflé lollipop powder pie. Chocolate carrot cake oat cake jelly beans donut dessert candy marshmallow sugar plum. Jelly-o chocolate bar chocolate bar macaroon.
  section#layout-images
    h1 Layout Design
    #photo-gallery
      .gallery-images
        .image.current
          img(src="/images/hacc/sketches/index_page.jpg")
        .image
          img(src="/images/hacc/sketches/search_page.jpg")
        .image
          img(src="/images/hacc/sketches/product_page.jpg")
        .image
          img(src="/images/hacc/sketches/business_page.jpg")
        .image
            img(src="/images/hacc/sketches/about.jpg")
      .thumbs
  include includes/sourcefiles.pug