doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title ynikki
    link(href='/css/styles.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  body
    header.banner
      .grid
        nav(role="navigation")
          ul(class="nav-list")
            li.nav-list-item
              a(class="active" href="#home") Home
            li.nav-list-item
              a(href="#work") Work
            li.nav-list-item
              a(href="#about") About
    .hero#hero
      h1.hero-title ynikki
    main.section#home(role="main")
      .grid
        h2 Oh, hai!
        .artwork
          svg(src="/svg/egghead.svg" id="eggy")
    .section#work
      .grid
        .work-info
          h2 Work
          p These are the most recent projects that I have worked on in since 2016.
        .work-icons
          .work-icons-wrapper
            ul(class="icon-list" role="tablist")
              li(class="nav-icons" role="presentation" id="1")
                a#hacc(alt="1")
                  figure.hacc-icon
                |HACC 2016
              li(class="nav-icons" role="presentation" id="2")
                a#stylesforhue(alt="2")
                  figure.stylesforhue-icon
                |Styles For Hue
              li(class="nav-icons" role="presentation" id="3")
                a#nko(alt="3")
                  figure.nko-icon
                |Node Knockout
        .computerArt
          .computer
            .screen
              section#slider
                a(href="#left" class="left")
                  i(class="fa fa-chevron-left" aria-hidden="true")
                a(href="#right" class="right")
                  i(class="fa fa-chevron-right" aria-hidden="true")
                ul.slider-wrapper
                  li(class="slide one" id="1")
                    img(src="/images/localmocos.png" alt="1")
                    .caption
                      h1.slider-title HACC2016 | Localmocos
                      p Participating in the state of Hawaii hackathon.
                  li(class="slide two" id="2")
                    img(src="/images/stylesforhue.png" alt="2")
                    .caption
                      h1.slider-title Styles for Hue
                      p DevLeague final project.
                  li(class="slide three" id="3")
                    img(src="/images/nko2016.png" alt="3")
                    .caption
                      h1.slider-title NKO 2016 | Looks Good
                      p Participated in a 48 hour hackathon.
            .bottom
              .stand
            .foot
        div(class="slide one" id="hacc")
          h3 Hawaii Annual Code Challenge 2016
        div(class="slide two" id="stylesforhue")
          h3 Styles for Hue
        div(class="slide three" id="nko")
          h3 NKO 2016
    .section#about
      .grid
        .content
          h2 What would you like to know?
          p 
            | I currently have a BA in Creative Media: Animation, and recently accomplished 800+ hours in 
            a(href="http://www.devleague.com/" target='_blank') DevLeague
            |. I love creating things and bringing people's ideas to life.
        .logos
          ul(class="links")
            li
              a(href="https://github.com/ynikki" target='_blank')
                svg#github-logo(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                  path(d='M256 70.7c-102.6 0-185.9 83.2-185.9 185.9 0 82.1 53.3 151.8 127.1 176.4 9.3 1.7 12.3-4 12.3-8.9V389.4c-51.7 11.3-62.5-21.9-62.5-21.9 -8.4-21.5-20.6-27.2-20.6-27.2 -16.9-11.5 1.3-11.3 1.3-11.3 18.7 1.3 28.5 19.2 28.5 19.2 16.6 28.4 43.5 20.2 54.1 15.4 1.7-12 6.5-20.2 11.8-24.9 -41.3-4.7-84.7-20.6-84.7-91.9 0-20.3 7.3-36.9 19.2-49.9 -1.9-4.7-8.3-23.6 1.8-49.2 0 0 15.6-5 51.1 19.1 14.8-4.1 30.7-6.2 46.5-6.3 15.8 0.1 31.7 2.1 46.6 6.3 35.5-24 51.1-19.1 51.1-19.1 10.1 25.6 3.8 44.5 1.8 49.2 11.9 13 19.1 29.6 19.1 49.9 0 71.4-43.5 87.1-84.9 91.7 6.7 5.8 12.8 17.1 12.8 34.4 0 24.9 0 44.9 0 51 0 4.9 3 10.7 12.4 8.9 73.8-24.6 127-94.3 127-176.4C441.9 153.9 358.6 70.7 256 70.7z')
            li
              a(href='https://www.linkedin.com/in/nikkikobayashi' target='_blank')
                svg#linkedin-logo(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 512 512')
                  path(d='M186.4 142.4c0 19-15.3 34.5-34.2 34.5 -18.9 0-34.2-15.4-34.2-34.5 0-19 15.3-34.5 34.2-34.5C171.1 107.9 186.4 123.4 186.4 142.4zM181.4 201.3h-57.8V388.1h57.8V201.3zM273.8 201.3h-55.4V388.1h55.4c0 0 0-69.3 0-98 0-26.3 12.1-41.9 35.2-41.9 21.3 0 31.5 15 31.5 41.9 0 26.9 0 98 0 98h57.5c0 0 0-68.2 0-118.3 0-50-28.3-74.2-68-74.2 -39.6 0-56.3 30.9-56.3 30.9v-25.2H273.8z')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/banner.js")
    script(src="/js/arrow.js")
    script(src="/js/navslider.js")
    script(src="/js/egghead.js")