doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title ynikki
    link(href='/css/styles.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
  body
    .container
      .page-wrap
        .slideshow
          img(class="slide one" src="/images/localmocos.png")
          img(class="slide two" src="/images/nko2016.png")
          img(class="slide three" src="/images/stylesforhue.png")