doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="widht=device-width, initial-scale=1.0")
    title ynikki
    link(href='/css/styles.css' rel='stylesheet')
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(src="/js/arrow.js" type="text/javascript")
  body
    .nav
      ul(class="nav links")
        li 
          a Home
        li 
          a Work
        li 
          a About
    .container
      .page-wrap
        #home
        #work
          .computer
            .screen
              #slider
                a(href="#" class="left")
                  i(class="fa fa-chevron-left" aria-hidden="true")
                a(href="#" class="right")
                  i(class="fa fa-chevron-right" aria-hidden="true")
                ul
                  li(class="slide one")
                  li(class="slide two")
                  li(class="slide three")
          .stand
          .foot
        #about