doctype html
include includes/head.pug
body
  #wrap.styles-wrap
    header#banner-photo.styles-photo
      h1.site-text Styles For Hue
    include includes/centernav.pug
  .page-wrap
    main#intro.styles-intro
      .group-photo
        img(src="/images/stylesforhue/styles_group.jpg")
      .intro-topic
        h1 Styles For You
        p During our last month in DevLeague we discussed our ideas and formed teams around a certain idea.
      section.group-intro
        .group-topic
          h1 Our Team
          p The app that we decided to create
        .site-video
          iframe(width="560" height="315" src="https://www.youtube.com/embed/RW58JIfK6zc" frameborder="0" allowfullscreen)
      section#layout-images
        .layout
          h1 Layout Design
          p The layout design for this project were created in Sketch - Professional Digital Design for Mac. 
          p I sketched the design for the functionality of the site.
        #lightbox
          ul.ul-list
            li.il-list
              img(src="/images/stylesforhue/sketches/indexpage.jpg" data-large="/images/stylesforhue/sketches/indexpage.jpg")
              .image-title
                h5.title Index Page
            li.il-list
              img(src="/images/stylesforhue/sketches/editpage.jpg" data-large="/images/stylesforhue/sketches/editpage.jpg")
              .image-title
                h5.title Edit Page
            li.il-list
              img(src="/images/stylesforhue/sketches/Version_01(details_edit).jpg" data-large="/images/stylesforhue/sketches/Version_01(details_edit).jpg")
              .image-title
                h5.title Sketch of the Edit
            li.il-list
              img(src="/images/stylesforhue/sketches/Version_02.jpg" data-large="/images/stylesforhue/sketches/Version_02.jpg")
              .image-title
                h5.title Sketch for the Edit
            li.il-list
              img(src="/images/stylesforhue/sketches/Version_03.jpg" data-large="/images/stylesforhue/sketches/Version_03.jpg")
              .image-title
                h5.title Sketch to show selection
  include includes/sourcefiles.pug