@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(14px);
  }
}

@keyframes sidewaysLeft {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
}

@keyframes sidewaysRight {
  from {
    background-position: -100% 0;
  }
  to {
    background-position: 0 0;
  }
}