$amazonite: #19C4AD;
$sunset-orange: #F05D5E;
$platinum: #E8E8E8;
$davys-grey: #4C5454;
$arsenic: #444444;
$stylesMG: #48DDB9;
$nko-red: #C12739;
$white: #FFF;
$coral: #FC814A;
$yellow-orange: #FFBE3D;
$yellow-green: #8BCB3C;
$june-bud: #A8D94D;
$pastel-blue: #AFD6C6;
$light-blue: #A8D6D6;
$queen-blue: #4B7C91;
$dark-liver: #50514F;
$quicksilver: #A2A79E;
$rudy-pink: #ED9198;
$inchworm: #B7EA52;
$saffron: #F4C63A;
$wild-watermelon: #FF7785;
$seafoam-green: #9BF2C5;